# encoding: utf-8

.block
  %h3 Mass upload (CSV)
  .content
    %br
    = form_for :import, :url => {:action => :import} do |form|
      = form.file_field :file, :style => 'width: 100%'
      %br
      %br
      = form.submit :style => 'width: 100%'
