.block.notice
  %h3 Simple Block
  .content
    = form_for :import, :url => {:action => :import} do |form|
      = form.file_field :file
      = form.submit

.block
  %h3 Links
  %ul.navigation
    %li
      %a{:href => "#"} Link 1
    %li
      %a{:href => "#"} Link 2
